:root{
    --bg:#03fcb1;
    --static_text:blue;
    --dynamic_text: White;
    --curser_color:White;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.box{
    display:inline-flex;
}
.static_text{
    color: var(--static_text);
    font-size: 60px;
    font-weight: 400;
    
}
.dynamic_text{
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dynamic_text li{
    color:var(--dynamic_text);
    list-style: none;
    margin-left: 20px;
    font-size: 60px;
    font-weight: 500;
    position:relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}

.dynamic_text li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.dynamic_text li span::after{
    content:'';
    padding: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--curser_color);
    overflow: hidden;
    left: 0;
    background-color: var(--bg);
    animation: typing 2s steps(10) infinite;
}
@keyframes typing{
    100%{
        left: 110%;
    }
}